@model SakilaApp.Models.Store
@{
    ViewData["Title"] = "Detalles de la tienda";
}

<h1>Tienda #@Model.StoreId</h1>
<dl class="row">
    <dt class="col-sm-3">ID Tienda</dt>
    <dd class="col-sm-9">@Model.StoreId</dd>
    <dt class="col-sm-3">ID Manager</dt>
    <dd class="col-sm-9">@Model.ManagerStaffId</dd>
    <dt class="col-sm-3">ID Dirección</dt>
    <dd class="col-sm-9">@Model.AddressId</dd>
    <dt class="col-sm-3">Última actualización</dt>
    <dd class="col-sm-9">@Model.LastUpdate.ToString("dd/MM/yyyy HH:mm")</dd>
</dl>
<a asp-action="Edit" asp-route-id="@Model.StoreId" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Volver</a>
