@model IEnumerable<SakilaApp.Models.Customer>
@{
    ViewData["Title"] = "Clientes";
}
<h1>Clientes</h1>
<p><a asp-action="Create" class="btn btn-primary">Crear nuevo</a></p>
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@(item.Active==1 ? "Sí" : "No")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CustomerId"
                       class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId"
                       class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.CustomerId"
                       class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>